@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --cor-primaria: #FF2525
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
}
.logo img {
  width: 81%;
}

.logo {
  color: var(--cor-primaria);
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  line-height: 17px;
}

.logo:hover {
  color: #000000;
  transition: 1s all;
}

/*! main*/
main {
  align-items: center;
  padding: 0 100px;
  border-left: 2px;
  border-right: 2px;
  border: #a1a1a1;
  width: 90%;
  margin: 0 auto;
}

main .alerta {
  background-color: var(--cor-primaria);
  width: 100%;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
main .produtos .produtos-alta {
  display: flex;
  align-items: center;
}
main .produtos .produtos-alta #card-maior {
  width: 42%;
  height: auto;
}
main .produtos .produtos-alta .lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .produtos .produtos-alta .lista-produtos .card-produto {
  width: 150px;
}
main .alerta p {
  color: #fff;
  font-weight: 800;
}

main .produtos .categoria {
  display: flex;
  align-items: center;
}

main .produtos {
  margin-top: 10px;
}

main .divulgacao {
  margin-top: 10px;
}

main .divulgacao img {
  width: 100%;
}
main .produtos .promocao {
  display: flex;
  align-items: center;
  border: 5px solid var(--cor-primaria);
}
main .produtos .promocao img {
  width: 50%;
}
main .produtos .promocao .produtos-promocao{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
main .produtos div .card-produto {
  width: 168px;
  height: 34vh;
  display: flex;
  margin: 5px 6px;
  border-radius: 5px;
  padding: 10px;
  background-color: #80808012;
  flex-direction: column;
  justify-content: center;

}

main .produtos div .card-produto .preco-antigo {
  font-size: 0.9em;
  color: #a7a7a7;
  text-decoration-line: line-through;
  text-decoration-color: var(--cor-primaria);
}

main .produtos div .card-produto .nome-produto {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .produtos div .card-produto img {
  border-radius: 5px;
  width: 100%;
}

/*! início nav */




/*! final nav*/

/*! início footer*/

/*! final footer*/

@media (max-width: 760px) {

  /*! início nav */
  nav .nav-principal .user-carrinho .user h3 {
    display: none;
  }

  nav .coisas-da-loja ul a {
    display: none;
  }

  nav .coisas-da-loja ul {
    height: 2vh;
  }

  nav .navegacao ul {
    display: none;
  }

  nav .navegacao .dropdown {
    display: none;
  }

  nav .navegacao .dropdown-responsivo {
    display: inline-flex;
    justify-content: center;
  }

  nav .navegacao .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  nav .navegacao .dropdown-responsivo-content {
    display: none;
    position: absolute;
    padding: 10px;
    margin-top: 33px;
    background-color: #f9f9f9;
    width: 411px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  nav .navegacao .dropdown-responsivo-content a {
    color: black;
    padding: 12px 1px;
    text-decoration: none;
    display: block;
  }

  nav .navegacao .dropdown-responsivo-esquerda,
  .dropdown-responsivo-meio,
  .dropdown-responsivo-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav .navegacao .dropdown-responsivo-meio {
    padding: 0 33px;
  }

  nav .navegacao .dropdown-responsivo-content a:hover {
    background-color: rgb(255, 222, 222);
  }

  nav .navegacao .dropdown-responsivo:hover .dropdown-responsivo-content {
    display: flex;
  }

  nav .navegacao .dropdown-responsivo .dropbtn {
    background-color: #bb000000;
    color: white;
    border: none;
    color: white;
    font-weight: 800;
    padding: 5px;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
  }

  /*! final nav*/
}

@media (max-width: 425px) {

  /*! início nav */
  .cesta-responsiva-lg {
    display: none;
  }

  .cesta-responsiva-md {
    display: block;
  }

  nav .nav-principal .user-carrinho .menu-btn i {
    display: block;
  }

  nav .navegacao .dropdown-responsivo {
    display: none;
  }

  nav .nav-principal .user-carrinho .user {
    display: none;
  }

  nav .nav-principal .pesquisa {
    display: none;
  }

  nav {
    justify-content: space-around;
    padding: 0;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav .nav-principal .user-carrinho ul {
    z-index: 5;
    position: absolute;
    top: 80px;
    left: -100%;
    background: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    left: 0;
  }

  nav .nav-principal .user-carrinho ul .perfil {
    border: 2px solid rgb(231, 231, 231);
    margin: 20px;
    padding: 10px;
    display: flex;
    background-color: rgb(236, 236, 236);
    width: 86%;
    border-radius: 20px;
    align-items: center;
  }

  nav .nav-principal .user-carrinho ul .perfil-li {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  nav .nav-principal .user-carrinho ul .perfil img {
    width: 20%;
    border-radius: 15px;
    margin-right: 10px;

  }

  nav .nav-principal .user-carrinho ul li {
    width: 100%;
    margin: 23px 0;
  }

  nav .nav-principal .user-carrinho ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    color: #000000;
  }

  nav .nav-principal .user-carrinho ul li h4 {
    color: var(--cor-primaria);
    font-size: 1.5em;
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav .nav-principal .user-carrinho ul li a.active,
  nav .nav-principal .user-carrinho ul li a:hover {
    background: none;
    color: var(--cor-primaria);
  }

  /*! final nav*/
}